.img {
    width: 150px;
    border-radius: 15%;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-bottom: 10px;
    width: 150px;
    padding: 5px;
    text-align: center;
    list-style: none;
}

.castWrap {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.actorName {
    font-weight: 700;
}