.link {
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    color: black;
    display: flex;
    margin-bottom: 10px;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-bottom: 1px solid black;
    font-size: 18px;
    padding-bottom: 15px;
}

.genres {
    margin-bottom: 10px;
}

.item {
    list-style: none;
}

.btnBack {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 30px;
    width: 100px;
    height: 30px;
    transition: background-color 250ms;
}

.btnBack:focus {
    color: red;
}

.btnBack:hover {
    color: red;
}

.container {
    padding: 30px 30px;
}

.wraper {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;
    border-bottom: 1px solid black;
}

.containerInfo {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}